html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Colors */
/* Fonts */
@font-face {
  font-family: 'Neusa Medium';
  src: url("../fonts/neusa_medium-webfont.woff2") format('woff2'), url("../fonts/neusa_medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Neusa Semibold';
  src: url("../fonts/neusa_semibold-webfont.woff2") format('woff2'), url("../fonts/neusa_semibold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Global styles */
body {
  font-family: Neusa Medium;
  color: #4f4f4f;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.translate-body {
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}
svg#svg {
  display: none;
}
.flex-container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  display: -webkit-box;
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}
.grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.grid .col {
  -webkit-box-flex: 1;
  flex: 1;
}
.section {
  padding: 3.75em 0;
}
.section-big-title,
.section-subtitle,
.section-small-title,
.section-text,
.section-title {
  line-height: 1.3;
}
.section-title {
  font-size: 1.375em;
  color: #808080;
}
.section-title b {
  font-family: Neusa Semibold;
}
.section-big-title {
  font-family: Neusa Semibold;
  font-size: 1.375em;
}
@media screen and (min-width: 1080px) {
  .section-big-title {
    font-size: 2em;
  }
}
.section-subtitle {
  font-family: 'Raleway', sans-serif;
  color: #808080;
  font-size: 1.125em;
}
.section-subtitle b {
  font-weight: 700;
}
.section-small-title {
  color: #1878be;
  font-size: 1.25em;
}
.section-small-title b {
  font-family: Neusa Semibold;
}
.section-text {
  font-family: 'Raleway', sans-serif;
}
.line {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #fff;
}
.with-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-image: url("../images/back-pattern.png");
  background-repeat: repeat;
  z-index: -1;
  opacity: 0.3;
}
/* Modules */
.btn {
  padding: 0.4375em 1.375em;
  border: 1px solid transparent;
  border-radius: 1.6875em;
  display: inline-block;
}
.btn--blue {
  background-color: #1878be;
  color: #fff;
}
.btn--border {
  border-color: #fff;
}
.btn--cian {
  background-color: #3caaab;
  color: #fff;
}
.btn--border-cian {
  color: #3caaab;
  border-color: #3caaab;
}
/* Layout styles */
.overlay-on-small {
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  display: none;
}
.header .top-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.4375em;
}
@media screen and (min-width: 960px) {
  .header .top-nav {
    width: 100%;
    height: 90px;
    padding: 0 1.4375em;
  }
}
.header .top-nav .top-nav-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.header .top-nav .top-nav-logo img {
  width: auto;
  height: 40px;
}
.header .top-nav .top-nav-responsive {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 9999;
}
@media screen and (min-width: 960px) {
  .header .top-nav .top-nav-responsive {
    display: none;
  }
}
.header .top-nav .top-nav-responsive svg {
  width: 32px;
  height: 32px;
  fill: #1878be;
}
.header .top-nav .top-nav-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #1878be;
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
  z-index: 999;
  box-shadow: -1px 0 3px rgba(79,79,79,0.4);
}
@media screen and (min-width: 1080px) {
  .header .top-nav .top-nav-menu {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background: none;
    box-shadow: none;
  }
  .header .top-nav .top-nav-menu ul {
    display: -webkit-box;
    display: flex;
    height: 100%;
  }
  .header .top-nav .top-nav-menu ul li ul {
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    opacity: 0;
  }
}
.header .top-nav .top-nav-menu ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: flex;
  color: #fff;
}
@media screen and (min-width: 1080px) {
  .header .top-nav .top-nav-menu ul li {
    color: #4f4f4f;
  }
}
.header .top-nav .top-nav-menu ul li a {
  line-height: 50px;
  display: block;
  padding: 0 1.375em;
}
@media screen and (min-width: 1080px) {
  .header .top-nav .top-nav-menu .list-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  .header .top-nav .top-nav-menu .list-item:hover {
    color: #1878be;
  }
}
.header .top-nav .top-nav-menu .list-item:hover .sub-nav {
  display: -webkit-box;
  display: flex;
}
@media screen and (min-width: 1080px) {
  .header .top-nav .top-nav-menu .list-item:hover .sub-nav {
    visibility: visible;
    opacity: 1;
  }
}
.header .top-nav .top-nav-menu .btn {
  border-color: #fff;
  line-height: 2;
  margin: auto;
  display: inline-block;
}
.header .top-nav .sub-nav {
  background-color: #6195cb;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
@media screen and (min-width: 1080px) {
  .header .top-nav .sub-nav {
    left: 0;
    top: 100%;
    position: absolute;
    background-color: #fff;
    width: auto;
    height: auto !important;
    border-top: 3px solid #1878be;
  }
  .header .top-nav .sub-nav li {
    position: relative;
    padding: 0;
  }
  .header .top-nav .sub-nav li a {
    display: block;
    width: 100%;
    white-space: nowrap;
  }
  .header .top-nav .sub-nav li a:hover {
    color: #1878be;
  }
}
.bottom-nav {
  border-top: 3px solid #1878be;
  background-color: #6195cb;
  color: #fff;
  padding: 1em 1.375em;
  font-size: 0.875em;
}
@media screen and (min-width: 960px) {
  .bottom-nav {
    font-size: 1em;
  }
}
.bottom-nav .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bottom-nav .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 960px) {
  .bottom-nav .flex-container {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.bottom-nav .bottom-nav-info {
  font-family: Neusa Semibold;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0.875em 0 0 0;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .bottom-nav .bottom-nav-info {
    margin: 0;
  }
  .bottom-nav .bottom-nav-info span:first-child {
    border-right: 2px solid #fff;
    margin-right: 1rem;
    padding-right: 1rem;
  }
}
.bottom-nav .bottom-nav-search {
  display: none;
}
@media screen and (min-width: 960px) {
  .bottom-nav .bottom-nav-search {
    display: block;
  }
  .bottom-nav .bottom-nav-search label {
    position: relative;
  }
  .bottom-nav .bottom-nav-search label input {
    outline: 0;
  }
  .bottom-nav .bottom-nav-search label svg {
    position: absolute;
    right: 12px;
    top: 3px;
    width: 16px;
    height: 16px;
    fill: #1878be;
  }
}
.footer {
  padding: 2.5em;
  padding-bottom: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/ecuasanitas-iso.svg");
  background-position: 90% top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1080px) {
  .footer {
    padding-bottom: 1.25em;
  }
}
.footer .flex-container {
  flex-wrap: wrap;
}
@media screen and (max-width: 375px) {
  .footer .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-bottom: 2.5em;
  }
}
.footer .footer-nav-item {
  width: 50%;
  height: auto;
}
@media screen and (max-width: 375px) {
  .footer .footer-nav-item {
    width: 100%;
  }
}
@media screen and (min-width: 760px) {
  .footer .footer-nav-item {
    width: 33.333333333333336%;
  }
}
@media screen and (min-width: 1080px) {
  .footer .footer-nav-item {
    width: 20%;
  }
}
.footer .footer-nav-item .footer-nav-title {
  color: #1878be;
  margin-bottom: 1.375em;
  display: block;
}
@media screen and (min-width: 960px) {
  .footer .footer-nav-item .footer-nav-title {
    margin-bottom: 1em;
  }
}
.footer .footer-nav-item .footer-nav-title b {
  font-weight: 700;
}
.footer .footer-nav-item ul {
  margin-bottom: 1.375em;
}
.footer .footer-nav-item ul li {
  line-height: 1.5;
}
@media screen and (min-width: 960px) {
  .footer .footer-nav-item ul li {
    font-size: 14px;
  }
}
.footer .footer-nav-item .footer-nav-icons {
  display: -webkit-box;
  display: flex;
}
.footer .footer-nav-item .footer-nav-icons li a {
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #ddd;
}
.footer .footer-nav-item .footer-nav-icons li a svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.copyright {
  background-color: #1878be;
  color: #fff;
  font-size: 0.875em;
  text-align: center;
  padding: 1.375em 0;
}
/* Pages */
.slider-wrapper {
  width: 100%;
  height: auto;
}
.slider-wrapper .slider {
  width: 100%;
  height: 350px;
  position: relative;
}
@media screen and (min-width: 760px) {
  .slider-wrapper .slider {
    height: 450px;
  }
}
.slider-wrapper .slider .slider-item {
  width: 100%;
  height: 100%;
}
.slider-wrapper .slider .slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}
.slider-wrapper .slider .slider-item .flex-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  padding: 1.25em 2.5em;
  z-index: 500;
}
@media screen and (min-width: 760px) {
  .slider-wrapper .slider .slider-item .flex-container {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0 0 5% 5%;
  }
}
@media screen and (min-width: 1080px) {
  .slider-wrapper .slider .slider-item .flex-container {
    padding: 0 0 5% 0;
  }
}
.slider-wrapper .slider .slider-item .flex-container .slider-item-content {
  background-color: rgba(255,255,255,0.2);
  width: 100%;
  height: auto;
  padding: 0.875em 2em;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}
.slider-wrapper .slider .slider-item .flex-container .slider-item-content .btn {
  margin-top: 0.5em;
}
@media screen and (min-width: 760px) {
  .slider-wrapper .slider .slider-item .flex-container .slider-item-content {
    max-height: 150px;
    width: 50%;
    justify-content: space-around;
  }
  .slider-wrapper .slider .slider-item .flex-container .slider-item-content .section-big-title {
    font-size: 1.5em;
    max-width: 90%;
    line-height: 1.2;
  }
}
@media screen and (min-width: 960px) {
  .slider-wrapper .slider .slider-item .flex-container .slider-item-content .section-big-title {
    font-size: 1.75em;
  }
}
.slider-wrapper .slider-footer {
  background-color: #ddd;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
  max-width: 960px;
  position: relative;
  z-index: 9999;
}
@media screen and (max-width: 375px) {
  .slider-wrapper .slider-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 1.375em;
  }
}
@media screen and (min-width: 960px) {
  .slider-wrapper .slider-footer {
    top: -1em;
    margin: 0 auto;
  }
}
.slider-wrapper .slider-footer a {
  display: -webkit-box;
  display: flex;
  max-width: 140px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
}
.slider-wrapper .slider-footer a svg {
  width: 40px;
  height: 40px;
  fill: #1878be;
  margin-right: 12px;
}
@media screen and (min-width: 1080px) {
  .section-affiliates .flex-container {
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}
.section-affiliates .section-big-title {
  color: #1878be;
}
.section-affiliates .section-subtitle {
  margin: 1em 0 1.75em 0;
}
.section-affiliates .section-small-title {
  margin-bottom: 0.875em;
}
.section-affiliates .grid .col {
  padding: 1.25em 2.5em 0 2.5em;
}
@media screen and (min-width: 960px) {
  .section-affiliates .grid .col {
    padding: 0;
  }
}
.section-affiliates .grid .col ul {
  color: #1878be;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
}
.section-affiliates .grid .col ul li {
  line-height: 2;
}
.section-affiliates .grid .col ul li:before {
  content: '+';
  color: #1878be;
  font-size: 1.125em;
  padding-right: 0.5em;
}
.section-affiliates .grid .col:last-child {
  align-self: flex-end;
}
@media screen and (min-width: 960px) {
  .section-affiliates .grid .col:last-child {
    padding-left: 2.5em;
  }
}
@media screen and (min-width: 960px) {
  .section-affiliates .grid .col:first-child {
    padding-right: 2.5em;
  }
}
.download-app {
  text-align: center;
  background-color: #1878be;
}
@media screen and (min-width: 760px) {
  .download-app {
    text-align: left;
  }
}
.download-app .section-subtitle,
.download-app .col {
  color: #fff;
}
.download-app .grid {
  padding: 2.5em;
}
@media screen and (min-width: 760px) {
  .download-app .grid {
    height: 350px;
    padding: 0;
    padding-left: 1.375em;
  }
}
@media screen and (min-width: 960px) {
  .download-app .grid {
    height: 450px;
    padding-left: 0;
  }
}
.download-app .col .section-subtitle {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.download-app .col img {
  display: none;
}
@media screen and (min-width: 760px) {
  .download-app .col img {
    display: block;
    width: auto;
    height: 110%;
  }
}
.download-app .col .btn {
  margin-top: 1.25em;
  padding: 0.4375em 2em;
}
.download-app .col:first-child {
  -ms-grid-row-align: center;
  align-self: center;
}
@media screen and (min-width: 960px) {
  .download-app .col:first-child {
    padding-left: 1.375em;
  }
}
@media screen and (min-width: 1100px) {
  .download-app .col:first-child {
    padding-left: 0;
  }
}
.download-app .line {
  margin: 1.375em 0;
}
.download-app .download-app-footer {
  padding: 1.25em 0.875em;
  background-color: #fff;
}
.download-app .download-app-footer .flex-container {
  -webkit-box-align: center;
  align-items: center;
}
.download-app .download-app-footer .section-subtitle {
  color: #4f4f4f;
  font-size: 0.875em;
  text-align: left;
  -webkit-box-flex: 1;
  flex: 1;
}
.download-app .download-app-footer svg {
  fill: #1878be;
  width: 35px;
  height: 35px;
  margin-right: 1.25em;
}
.section-plans {
  background-color: #ddd;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 760px) {
  .section-plans {
    height: 350px;
  }
}
@media screen and (min-width: 960px) {
  .section-plans {
    height: 350px;
    padding: 0;
  }
}
.section-plans .section-big-title {
  color: #3caaab;
}
.section-plans .grid {
  height: 100%;
}
.section-plans .grid .col {
  height: 100%;
  display: -webkit-box;
  display: flex;
  padding: 0 2.5em;
}
@media screen and (min-width: 960px) {
  .section-plans .grid .col:first-child {
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
.section-plans .grid .col:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  .section-plans .grid .col:last-child {
    padding-right: 10%;
  }
}
.section-plans .grid .col img {
  display: none;
  width: auto;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 760px) {
  .section-plans .grid .col img {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .section-plans .grid .col img {
    width: auto;
    height: 90%;
  }
}
.section-plans .grid .col .section-text {
  margin: 1.375em 0;
}
.section-plans .grid .col .btn {
  font-family: 'Raleway', sans-serif;
}
.section-plans .grid .col .plans-list {
  display: -webkit-box;
  display: flex;
  margin: 1.375em 0 0 0;
}
@media screen and (max-width: 375px) {
  .section-plans .grid .col .plans-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
.section-plans .grid .col .plans-list li {
  font-family: Neusa Semibold;
  color: #808080;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  flex: 1;
  line-height: 1.3;
  font-size: 0.875em;
}
.section-plans .grid .col .plans-list li svg {
  fill: #808080;
  width: 40px;
  height: 40px;
  margin-right: 0.75em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.section-news {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.section-news .grid {
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .section-news .grid {
    height: 300px;
  }
  .section-news .grid .col {
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    width: 50%;
  }
}
@media screen and (min-width: 760px) {
  .section-news .grid:last-child .news-image {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
.section-news .grid:last-child .news-text {
  -webkit-box-align: end;
  align-items: flex-end;
}
.section-news .news-image {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 760px) {
  .section-news .news-image {
    height: 100%;
  }
}
.section-news .news-image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}
.section-news .news-text {
  padding: 2.5em;
}
@media screen and (min-width: 960px) {
  .section-news .news-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .section-news .news-text div {
    max-width: 500px;
  }
}
.section-news .news-text .section-subtitle {
  margin-bottom: 1.375em;
}
.section-news .news-text .read-more {
  margin-top: 1.375em;
  display: inline-block;
  color: #6ba9aa;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  border-top: 1px solid #6ba9aa;
  padding-top: 0.5em;
  font-size: 14px;
}
.section-contact-info {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.section-contact-info .with-pattern {
  z-index: 1;
}
.section-contact-info .contact-info {
  background-color: rgba(255,255,255,0.4);
  max-width: 1080px;
  margin: auto;
  width: 90%;
  padding: 1.375em;
  display: -webkit-box;
  display: flex;
  z-index: 500;
}
@media screen and (max-width: 375px) {
  .section-contact-info .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (min-width: 960px) {
  .section-contact-info .contact-info {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.section-contact-info .contact-info .section-big-title {
  color: #1878be;
  -webkit-box-flex: 1;
  flex: 1;
  font-family: 'Neusa Medium';
  max-width: 380px;
}
.section-contact-info .contact-info .section-big-title b {
  font-family: 'Neusa Semibold';
}
.page-banner {
  width: 100%;
  height: 200px;
  position: relative;
}
.page-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.page-banner .page-banner-icon {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.page-banner .page-banner-icon span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #a1a1a1;
}
.page-banner .page-banner-icon span svg {
  width: 25px;
  height: 25px;
  fill: #a1a1a1;
}
.section-about {
  padding: 3.75em 2.5em 2.5em 2.5em;
  text-align: center;
}
.section-about .section-title {
  margin-bottom: 1.375em;
}
.section-about .section-about-content {
  max-width: 500px;
  margin: 0 auto 2.5em;
}
.section-about .btn--cian {
  margin-top: 1.375em;
}
.section-about .vision {
  margin: 1.375em auto;
}
.section-about .vision .col {
  background-color: #e4e4e4;
  text-align: left;
  padding: 1.375em;
}
.section-about .vision .col .section-small-title {
  margin-bottom: 0.875em;
}
.section-about .vision .col:first-child {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 760px) {
  .section-about .vision .col:first-child {
    margin-bottom: 0;
    margin-right: 0.5em;
  }
}
.section-commitment .section-title {
  text-align: center;
  margin-bottom: 1.375em;
}
.section-commitment .grid {
  -webkit-box-align: start;
  align-items: flex-start;
}
@media screen and (min-width: 960px) {
  .section-commitment .grid {
    height: auto;
  }
}
@media screen and (min-width: 1060px) {
  .section-commitment .grid {
    height: 350px;
  }
}
.section-commitment .news-text {
  -webkit-box-ordinal-group: 3;
  order: 2;
}
.section-commitment .news-text .section-small-title,
.section-commitment .news-text .section-text {
  margin-bottom: 1.375em;
}
@media screen and (min-width: 960px) {
  .section-commitment .news-text .section-small-title,
  .section-commitment .news-text .section-text {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 760px) {
  .section-commitment .news-text {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .section-commitment .news-text {
    -webkit-box-align: start !important;
    align-items: flex-start !important;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.section-commitment .card {
  margin: 2.5em 0;
}
.section-commitment .card .grid {
  width: 100%;
  height: auto;
}
.section-commitment .card .grid .col {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  width: 100%;
  height: 250px;
  color: #fff;
  padding: 1em;
  position: relative;
  background-color: #1878be;
}
@media screen and (min-width: 760px) {
  .section-commitment .card .grid .col {
    width: 50%;
    height: 250px;
  }
}
@media screen and (min-width: 960px) {
  .section-commitment .card .grid .col {
    padding: 1.375em;
  }
}
.section-commitment .card .grid .col .section-small-title {
  color: #fff;
  margin-bottom: 1em;
}
@media screen and (min-width: 1080px) {
  .section-commitment .card .grid .col .section-small-title {
    font-size: 1.375em;
  }
}
.section-commitment .card .grid .col ul {
  font-family: 'Raleway', sans-serif;
  list-style-image: url("../images/check.svg");
  list-style-position: inside;
}
.section-commitment .card .grid .col ul li {
  font-size: 0.875em;
  line-height: 1.5;
}
.section-commitment .card .grid .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.section-commitment .card .grid .col:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-ordinal-group: 3;
  order: 2;
}
@media screen and (min-width: 1080px) {
  .section-commitment .card .grid .col:first-child {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media screen and (min-width: 960px) {
  .section-commitment .card .grid .col:last-child {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
.section-responsibility .section-title {
  text-align: center;
  background-color: #e4e4e4;
  padding: 1em 0;
}
.section-responsibility .news-text .section-text {
  margin: 0.75em 0;
}
.section-responsibility .news-image img {
  -o-object-position: center;
  object-position: center;
}
.section-check-plans {
  background-image: url("../images/news1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 2.5em;
}
.section-check-plans .with-patern {
  z-index: 1;
}
.section-check-plans .info {
  background-color: rgba(0,0,0,0.1);
  padding: 1.25em 2.5em;
  color: #fff;
}
.section-check-plans .info .section-text {
  margin-bottom: 1.25em;
}
.section-plans-list {
  background-color: #ececec;
}
.section-plans-list .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 0 1.375em;
}
@media screen and (min-width: 760px) {
  .section-plans-list .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: inherit;
    align-items: inherit;
  }
}
.section-plans-list .plan-item {
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(79,79,79,0.2);
  margin-bottom: 1.375em;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 760px) {
  .section-plans-list .plan-item {
    width: 32%;
    max-width: 275px;
    margin: 0 3%;
  }
  .section-plans-list .plan-item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.section-plans-list .plan-item:last-child {
  margin-bottom: 0;
}
.section-plans-list .plan-item .plan-item-title,
.section-plans-list .plan-item .plan-item-body,
.section-plans-list .plan-item .plan-item-link {
  padding: 1.375em;
}
.section-plans-list .plan-item .plan-item-title {
  text-align: center;
  border-bottom: 1px dashed #3caaab;
}
@media screen and (min-width: 760px) {
  .section-plans-list .plan-item .plan-item-title {
    height: 150px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
}
.section-plans-list .plan-item .plan-item-title .section-subtitle {
  color: #3caaab;
  max-width: 200px;
  margin: auto;
}
.section-plans-list .plan-item .plan-item-title svg {
  width: 50px;
  height: 50px;
  fill: #3caaab;
}
.section-plans-list .plan-item .plan-item-body .section-text {
  margin-top: 1.375em;
}
.section-plans-list .plan-item .plan-item-link {
  text-align: center;
}
.section-plans-list .plan-item .plan-item-link .btn--gray {
  background-color: #a1a1a1;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
}
@media screen and (min-width: 760px) {
  .section-plans-list .plan-item--active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.section-plans-list .plan-item--active .plan-item-title {
  background-color: #3caaab;
}
.section-plans-list .plan-item--active .plan-item-title .section-subtitle {
  color: #fff;
}
.section-plans-list .plan-item--active .plan-item-title svg {
  fill: #fff;
}
.section-plans-list .plan-item--active .plan-item-body .section-subtitle {
  color: #1878be;
}
.section-plans-list .plan-item--active .plan-item-link .btn {
  background-color: #3caaab;
}
.section-plan-description {
  position: relative;
}
.section-plan-description .plan-description-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  margin-left: -25px;
  top: -25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  padding-bottom: 10px;
  z-index: 999;
}
.section-plan-description .plan-description-icon svg {
  width: 14px;
  height: 14px;
}
.section-plan-description .grid .col {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  width: 100%;
  height: 350px;
  position: relative;
  padding: 2.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}
@media screen and (min-width: 760px) {
  .section-plan-description .grid .col .max {
    max-width: 500px;
  }
}
@media screen and (min-width: 760px) {
  .section-plan-description .grid .col {
    width: 50%;
  }
}
.section-plan-description .grid .col .section-title {
  font-family: 'Neusa Semibold';
  color: #3caaab;
  margin-bottom: 0.75em;
}
.section-plan-description .grid .col .section-subtitle {
  font-size: 1em;
}
.section-plan-description .grid .col .plan-price {
  display: block;
  margin: 0.75em 0;
  font-size: 1.375em;
  color: #808080;
}
.section-plan-description .grid .col .plan-price b {
  font-family: 'Neusa Semibold';
  color: #3caaab;
}
.section-plan-description .grid .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.section-plan-featured {
  background-color: #3caaab;
}
.section-plan-featured .section-subtitle,
.section-plan-featured .section-title,
.section-plan-featured .section-text {
  color: #fff;
}
.section-plan-featured .section-title {
  font-family: 'Neusa Semibold';
}
.section-plan-featured .section-title {
  font-size: 1.875em;
}
.section-plan-featured .section-subtitle {
  font-size: 1.125em;
}
.section-plan-featured .col {
  padding: 0 2.5em;
  margin-bottom: 1.375em;
}
@media screen and (min-width: 760px) {
  .section-plan-featured .col {
    margin-bottom: 0;
  }
}
.section-plan-featured .col:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 760px) {
  .section-plan-featured .col:first-child {
    border-right: 1px dotted #fff;
  }
}
@media screen and (min-width: 760px) {
  .section-plan-featured .col ul {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.375em;
  }
}
.section-plan-featured .col ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  margin: 0.75em 0;
  max-width: 175px;
  border-radius: 25px;
  font-family: 'Raleway';
  line-height: 32px;
  border: 1px solid transparent;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 760px) {
  .section-plan-featured .col ul li {
    width: 48%;
    margin-right: 1.375em;
  }
}
.section-plan-featured .col ul li svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  margin-right: 0.75em;
}
.section-plan-featured .col ul .active {
  border-color: #fff;
  font-weight: 700;
}
.plan-description-item {
  padding: 2.5em 0;
  display: none;
}
.plan-description-item .grid {
  height: auto;
}
.plan-description-item .grid .col {
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.plan-description-item .grid .col .btn {
  border-radius: 0;
  width: 100%;
  font-style: italic;
  font-size: 1.125em;
  padding: 0.75em;
}
.plan-description-item--active {
  display: block;
}
.plan-description-title,
.plan-description-price {
  font-family: 'Neusa Semibold';
  font-size: 2em;
}
.plan-description-price {
  color: #3caaab;
  margin-bottom: 1.375em;
}
.plan-description-text {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  margin-bottom: 0.75em;
}
.plan-description-text b {
  color: #3caaab;
}
.plan-description-list {
  font-family: 'Raleway', sans-serif;
}
.plan-description-list li {
  line-height: 1.5;
}
.plan-description-list li .tool-tip {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 16px;
  margin-top: 0.375em;
}
.plan-description-list li .tool-tip i {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(79,79,79,0.7);
  display: inline-block;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 11px;
  color: #fff;
}
.plan-description-list li:before {
  content: '+';
  margin-right: 0.5em;
  color: #3caaab;
  font-size: 20px;
}
.plan-description-list--border li {
  padding: 0.75em 0;
  border-bottom: 1px solid #4f4f4f;
}
.plan-description-list--border li:last-child {
  border-bottom: 0;
}
[data-tooltip]:hover:before {
  content: attr(data-tooltip);
  position: absolute;
  left: 42px;
  font-weight: normal;
  color: #fff;
  background-color: rgba(79,79,79,0.5);
  padding: 0 0.5em;
  font-size: 12px;
  line-height: 2;
}
.section-help {
  text-align: center;
  background-color: #ececec;
}
.section-help .section-subtitle b {
  color: #3caaab;
}
.section-help .btn {
  margin-top: 1.375em;
}
.data-plan {
  display: none;
}
.data-plan--active {
  display: block;
}

/*# sourceMappingURL=main.css.map */
