.simple-page-banner
  size 100% 200px
  position  relative
  .simple-page-banner-pattern
    background-image url('../images/back-pattern.png')
    background-repeat  repeat
    size 100%
    position  absolute
    top 0
    left 0
  .simple-page-banner-icon
    circle 50px
    background-color white
    position absolute
    bottom -25px
    left 50%
    margin-left -25px
    flex-center()
    border 1px solid #919191
    svg
      size 24px
      fill #919191
