.benefits
  padding  0 22px
  margin-bottom 40px

.benefit-item
  display flex
  flex-direction column
  margin-bottom 12px
  +media(700px)
    flex-direction row
  .benefit-image
  .benefit-text
    background-color #F5F5F5
  .benefit-image
    margin-bottom 12px
    height 200px
    flex-center()
    +media(700px)
      margin-bottom 0
      margin-right 12px
      width 30%
    img
      size 60%
      object-fit contain
  .benefit-text
    padding 22px
    font-family 'Raleway'
    font-size 16px
    line-height 1.3
    display flex
    flex-direction column
    justify-content space-around
    p
      b
        font-weight 600
    a
      font-weight 600
      color #6185BB
      margin-top 12px
      display block
